@model Model.ActionInfo

@{
    Layout = null;
}

<!DOCTYPE html>
@using Model;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetRole</title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        function afterSetRole(data) {
            if (data == "ok") {
                window.parent.window.afterSetRole();
            }
        }

        function submitForm(){
            $("form").submit();
            alert("ok");
        }
    </script>
</head>
<body>
    <div>
        <h2>当前给权限：@Model.ActionInfoName 设置角色</h2>
        <hr />
        @{
            List<RoleInfo> list = ViewBag.AllRoles;
            List<int> exsitRoleList = ViewBag.ExitRoles;
            using (Ajax.BeginForm("ProcessSetRole", "ActionInfo", new AjaxOptions()
            {
                OnSuccess = "afterSetRole"
            }))
            {
                //排版
                <input type="hidden" name="UId" value="@Model.ID" />
                int i = 0;
                foreach (var item in list)
                {
                    string str = "ckb_" + item.ID;
                    //换行
                    if (i > 0)
                    {
                        <hr />
                    }

                    if (exsitRoleList.Contains(item.ID))
                    {
                        <input type="checkbox" checked="checked" value="@str" name="@str" id="@str" />
                    }
                    else
                    {
                        <input type="checkbox" value="@str" name="@str" id="@str" />
                    }
                    <input type="checkbox" name="@str" value="@str" id="@str" />
                    <label for="@str">@item.RoleName</label>
                    i++;
                }
            }
        }
    </div>
</body>
</html>
